App Examples/Console App/01.HelloWorld/bin
App Examples/Console App/01.HelloWorld/obj/
App Examples/Console App/01.HelloWorld/obj/Debug/
App Examples/Console App/01.HelloWorld/obj/Debug/net9.0/

App Examples/Console App/02.SizeLimits/bin
App Examples/Console App/02.SizeLimits/obj/
App Examples/Console App/02.SizeLimits/obj/Debug/
App Examples/Console App/02.SizeLimits/obj/Debug/net9.0/

App Examples/Console App/03.DoublevsDecimal/bin
App Examples/Console App/03.DoublevsDecimal/obj/
App Examples/Console App/03.DoublevsDecimal/obj/Debug/
App Examples/Console App/03.DoublevsDecimal/obj/Debug/net9.0/

App Examples/Console App/04.NullValues/bin
App Examples/Console App/04.NullValues/obj/
App Examples/Console App/04.NullValues/obj/Debug/
App Examples/Console App/04.NullValues/obj/Debug/net9.0/

App Examples/Console App/05.forEach/bin
App Examples/Console App/05.forEach/obj/
App Examples/Console App/05.forEach/obj/Debug/
App Examples/Console App/05.forEach/obj/Debug/net9.0/