App Examples/Console App/01.HelloWorld/bin
App Examples/Console App/01.HelloWorld/obj/
App Examples/Console App/01.HelloWorld/obj/Debug/
App Examples/Console App/01.HelloWorld/obj/Debug/net9.0/

App Examples/Console App/02.SizeLimits/bin
App Examples/Console App/02.SizeLimits/obj/
App Examples/Console App/02.SizeLimits/obj/Debug/
App Examples/Console App/02.SizeLimits/obj/Debug/net9.0/

App Examples/Console App/03.DoublevsDecimal/bin
App Examples/Console App/03.DoublevsDecimal/obj/
App Examples/Console App/03.DoublevsDecimal/obj/Debug/
App Examples/Console App/03.DoublevsDecimal/obj/Debug/net9.0/

App Examples/Console App/04.NullValues/bin
App Examples/Console App/04.NullValues/obj/
App Examples/Console App/04.NullValues/obj/Debug/
App Examples/Console App/04.NullValues/obj/Debug/net9.0/

App Examples/Console App/05.ForEach/bin
App Examples/Console App/05.ForEach/obj/
App Examples/Console App/05.ForEach/obj/Debug/
App Examples/Console App/05.ForEach/obj/Debug/net9.0/

App Examples/Console App/06.Casting/bin
App Examples/Console App/06.Casting/obj/
App Examples/Console App/06.Casting/obj/Debug/
App Examples/Console App/06.Casting/obj/Debug/net9.0/

App Examples/Console App/07.TryParser/bin
App Examples/Console App/07.TryParser/obj/
App Examples/Console App/07.TryParser/obj/Debug/
App Examples/Console App/07.TryParser/obj/Debug/net9.0/

App Examples/Console App/08.Exceptions/bin
App Examples/Console App/08.Exceptions/obj/
App Examples/Console App/08.Exceptions/obj/Debug/
App Examples/Console App/08.Exceptions/obj/Debug/net9.0/

App Examples/Console App/09.Traçabilitat/bin
App Examples/Console App/09.Traçabilitat/obj/
App Examples/Console App/09.Traçabilitat/obj/Debug/
App Examples/Console App/09.Traçabilitat/obj/Debug/net9.0/
App Examples/Console App/09.Traçabilitat/log.txt

App Examples/Console App/10.IncludeProject/bin
App Examples/Console App/10.IncludeProject/obj/
App Examples/Console App/10.IncludeProject/obj/Debug/
App Examples/Console App/10.IncludeProject/obj/Debug/net9.0/


App Examples/ClassLib/01.Calculator/bin
App Examples/ClassLib/01.Calculator/obj/

App Examples/UnitTests/01.CalculatorLibUnitTests/bin
App Examples/UnitTests/01.CalculatorLibUnitTests/obj/
