[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req

[req_distinguished_name]
commonName = Boscdelacoma

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
